{#<h3>评论列表，共 <span>{{ comment_count }}</span> 条评论</h3>#}
{#<ul class="comment-list list-unstyled">#}
{#    {% for comment in comment_list %}#}
{#        <li class="comment-item">#}
{#            <span style="color: lightpink"#}
{#                  class="name">{{ comment.commentator.first_name }} {{ comment.commentator.last_name }}</span>#}
{#            <time style="color: green" class="submit-date"#}
{#                  datetime="{{ comment.created_time }}">{{ comment.created_time }}</time>#}
{#            <div class="text">#}
{#                {{ comment.text|linebreaks }}#}
{#            </div>#}
{#        </li>#}
{#    {% empty %}#}
{#        暂无更多评论#}
{#    {% endfor %}#}
{#</ul>#}

<h4>共有{{ comment_count }}条评论</h4>
<div>
    {% for comment in comment_list %}
        <hr>
        <p>
            <strong style="color: pink">
                {{ comment.commentator.first_name }} {{ comment.commentator.last_name }}
            </strong> 于
            <span style="color: green">
                    {{ comment.created_time |date:"Y-m-d H:i:s" }}
                </span> 时说：
        </p>
        <pre style="font-family: inherit; font-size: 1em;">{{ comment.text }}</pre>
    {% empty %}
        暂无更多评论
    {% endfor %}
</div>