{% extends 'base.html' %}
{% block title %}
    Edit Profile Page
{% endblock %}
<base href="/">
{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == profile.user.id %}
            <br/>
            <h1>Edit Profile </h1>
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ form.media }}
                    <button class="btn btn-dark">Edit Profile</button>
                </form>
            </div>
        {% else %}
            You are not able to edit others' profile
        {% endif %}
    {% else %}
        Piss  off
    {% endif %}
{% endblock %}