{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>User Profile</h1>
    <div class="card mb-2">
        <div class="row g-1">
            <div class="col-md-4">
                {% if  page_user.profile_pic %}
                    <img src="{{ page_user.profile_pic.url }}" class="rounded-circle">
                {% else %}
                    <img src="{% static 'myblog/images/default_profile.png' %}">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ page_user.user.first_name}} {{ page_user.user.last_name }}</h5>
                    <p class="small text-muted">
                        <a href="{% url 'show_profile_page' page_user.id %}">Profile Page</a>
                        {% if page_user.website_url %}
                            |  <a href="{{ page_user.website_url }}">Website</a>
                        {% endif %}
                        {% if page_user.weibo_url %}
                            | <a href="{{ page_user.weibo_url }}">Weibo</a>
                        {% endif %}
                        {% if page_user.twitter_url %}
                            | <a href="{{ page_user.twitter_url }}">Twitter</a>
                        {% endif %}
                    </p>
                    <p class="card-text">{{ page_user.bio }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        {% if user.id == page_user.id %}
            <a class="btn btn-dark" href="{% url 'edit_profile' %}">edit profile</a>
        {% endif %}
    {% endif %}
{% endblock %}